/dist/
/.nb-gradle/
/.gradle/
/.idea/
/build/
.DS_Store
/nbproject/private/
/buildSrc/build/
/buildSrc/.nb-gradle/
/buildSrc/.gradle/
/buildSrc/buildSrc.iml
/tmp/
/bin/
/.classpath
/.settings
/.project
/*.iml
*.iml
.nb-gradle-properties
/out/
*.log